<fieldset name="addBook">
<input type="text" #newBookTitle>
<button (click)="add(newBookTitle)">Add</button>
</fieldset>

<fieldset name="bookList">
  <div *ngFor="let book of books | async">
    <label for="book-{{ book.id }}">
      <input id="book-{{ book.id }}" type="checkbox" [(ngModel)]="book.read" (change)="update(book)">
      {{ book.name }}
    </label>
    {{book | json}}
    <button (click)="sync(book)">Sync</button>
    <button (click)="get(book)">Get</button>
    <button (click)="remove(book)">Remove</button>
  </div>
</fieldset>
{{ (bookDetail | async)?.name }}
